{% extends "admin/change_list.html" %}
{% load i18n admin_urls static admin_list %}


{% block pagination %}{{ block.super }}

<h3 style="margin-top: 20px;">{% trans 'Total spent by currency' %}</h3>
{% for cur in cl.total_spendings_by_currency %}
<div style="padding: 3px 10px;">
    <span style="display: inline-block; width: 50px; text-transform: uppercase;">{{ cur.currency }}</span>
    <span style="display: inline-block; margin-left: 5px;">{{ cur.amount__sum }}</span>
</div>
{% endfor %}

{% endblock %}
